:root {
    --primary-color: #d23c0d;
    --light-color: #fff;
    --dark-color: #111;
    --secondary-color: #d7d7d7;
    --grey-color: #212529;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* overflow x hides vertical move bar */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

/* Utility Classes */

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-md {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0;
}

/* background set up */
.background-image-long {
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-primary {
    background: var(--primary-color);
    color: #fff;
}

.bg-secondary {
    background: var(--secondary-color);
    color: #fff;
}

.bg-light {
    background: var(--light-color);
    color: #333;
}

.bg-dark {
    background: var(--dark-color);
    color: #fff;
}

.bg-grey {
    background: var(--grey-color);
    color: #fff;
}

/* text classes rem is fontsize realtive to root fontsize 16px in this case 2rem =32 */
.text-xxl {
    font-size: 3rem;
    line-height: 1.4;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-med {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: 600;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}


/* button CSS */
.btn {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 15px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
}

.btn:hover {
    opacity: 0.8;
}

/* margin top creates seperation */
.btn-primary {
    background: var(--primary-color);
    color: black;
    margin-top: 15px;
}

.btn-primary2 {
    background: var(--primary-color);
    color: rgba(255, 255, 255, 0.839);
    margin-top: 15px;
}

.btn-light {
    background: var(--light-color);
    color: var(--primary-color);
    margin-top: 15px;
}

.btn-dark {
    background: var(--dark-color);
    color: #fff;
}

/* button goes all the way across */
.btn-block {
    display: block;
    width: 100%;
}



/* Navbar */
.navbar {
    margin-bottom: 0;
    padding: 0px 0px;
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding-right: 40px;
    padding-left: 40px;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
    font-size: 19px;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}

/* last child targets last in that group */
.navbar ul li:last-child a {
    margin-left: 0px;
}

.navbar ul li a i {
    margin-right: 10px;
}

.navbar ul li ul.dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    /* dark background color */
    border: 1px solid #666;
    /* border */
    border-radius: 5px;
    /* border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* box shadow */
}

.navbar ul li:hover ul.dropdown {
    display: block;
    transition: all 0.3s ease-in-out;
    /* smooth transition */
}

.navbar ul li ul.dropdown li {
    display: block;
    /* consistent padding */
}

.navbar ul li ul.dropdown li a {
    font-family: Arial, sans-serif;
    /* consistent font */
    font-size: 16px;
    /* consistent font size */
    color: #fff;
    /* light text color */
    text-decoration: none;
}

.navbar ul li ul.dropdown li a:hover {
    background-color: #666;
    /* hover background color */
    color: #fff;
    /* hover text color */
}





/* Footer */
.footer {
    padding: 40px 40px;
}

.footer h4 {
    margin-bottom: 10px;
}

.footer ul li {
    line-height: 2.5;
}

/* change any link in footer */
.footer a {
    color: #ccc;
}

.footer span {
    color: #ccc;
}

/* any icon in footer */
.footer i {
    margin-right: 10px;
    font-size: 1.5rem;

}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-logo img {
    max-width: 60%;
    /* Ensures the image does not exceed the container width */
    height: auto;
    /* Allows the image to maintain its aspect ratio */
}


.footer-logo a:hover {
    color: var(--primary-color);
    transform: scale(1.1);
    transition: 0.5s;
}